modules = ["nodejs-20", "web", "nix", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5904
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "build"
run = ["npm", "start"]

[userenv]

[userenv.shared]
APP_URL = "https://schkola-trezvosti.ru"
TILDA_WEBHOOK_SECRET = "P1zIku4RGolF"
EXTERNAL_DATABASE_URL = "postgresql://gen_user:9.U82o%7D%3Bs8BX7V@31.130.150.167:5432/Platform"
EMAIL_FROM = "support@schkola-trezvosti.ru"
EMAIL_FROM_NAME = "Платформа школы трезвости"
